@font-face {
    font-family: 'Pixel';
    src: url('Pixel.woff2') format('woff2'),
        url('Pixel.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic';
    src: url('AvantGardeCE-Demi.woff2') format('woff2'),
        url('AvantGardeCE-Demi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

